---
import Layout from '@layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import PostLink from '@components/PostLink.astro';
import { getPostExcerpt, sortPosts, getPermalink } from '@lib/PostUtils';
import { POSTS_PER_PAGE } from '../../lib/constants';
import Pagination from '@components/Pagination.astro';

interface Props {
    page: {
        data: CollectionEntry<'blog'>[];
        url: {
            prev: string;
            next: string;
        };
    };
}

export async function getStaticPaths({ paginate }: any) {
    const posts = await getCollection('blog');

    const blogPosts = sortPosts(posts.filter((p) => !p.data.isRssOnly));

    return paginate(blogPosts, { pageSize: POSTS_PER_PAGE });
}

const { page } = Astro.props;
---

<Layout title="Blog">
    <main>
        <h1>Blog</h1>

        {
            page.data.map((post) => (
                <PostLink title={post.data.title} link={getPermalink(post)} date={post.data.date} excerpt={getPostExcerpt(post.body)} />
            ))
        }

        <Pagination previousLink={page.url.prev} previousLinkText="Newer" nextLink={page.url.next} nextLinkText="Older" />
    </main>
</Layout>
 ../../lib/constants
