---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CombinedPost } from '@models/CombinedPost';
import BlogLink from '@components/PostLink.astro';

import { getPostYears, combineBlogAndReadingLog } from '@lib/PostUtils';
import { getDateParts } from '@lib/DateUtils';

interface Props {
    posts: CombinedPost[];
    year: number;
}

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');
    const readingLogs = await getCollection('readinglogs');

    const years = getPostYears(blogEntries, readingLogs);

    return years.map((year) => ({
        params: { year },
        props: {
            year,
            posts: combineBlogAndReadingLog(
                blogEntries.filter((blog) => parseInt(getDateParts(blog.data.date).year) === year),
                readingLogs.filter((log) => parseInt(getDateParts(log.data.date).year) === year),
            ),
        },
    }));
}

const { posts, year } = Astro.props;
---

<Layout title={`Archives: Posts in ${year}`}>
    <h1>Posts in {year}</h1>
    {posts.map((post) => <BlogLink title={post.title} link={post.link} date={post.date} excerpt={post.excerpt} />)}
</Layout>
